
$first : rgba(128,0,0,1);
$second : rgba(188,151,151,1);
$third : rgba(89,89,89,1);
$four : #7C878F;
$five : #8696A3;

$colors: ('first':$first, 'second':$second, 'third':$third, 'four':$four, 'five':$five);
$shades: ('light': 10%, 'lightest' :20%, 'dark':-10%, 'darkest':-20%);

@each $name, $color in $colors{

  //create classes for buttons
    .solid-#{$name} {
      border: 1px solid $color;
      background-color: $color;
      color: white;

      transition: color 0.1s ease-in-out,background-color 0.1s ease-in-out;

      &:hover{
        background-color: rgba(0,0,0,0);
        color:$color;
        border: 1px solid $color;
      }
    }

    .outline-#{$name} {
      border: 1px solid $color;
      background-color: white;
      color: $color;

      transition: background-color 0.1s ease-in-out,color 0.1s ease-in-out;

      &:hover{
        background-color: $color;
        color:white;
      }
    }

}

.green{
  color:#01fb01;
  margin:0 5% 2% 0;
  font-weight: 1000;
}
.maroon{
  color:#d61f1f;
  margin:0 5% 2% 0;
}
.align{
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
