@import 'variables';

textarea{
  min-height: 30vh;
}
.make_blog{
  width: 100% !important;
  margin: 1% 0 !important;
  padding:1% !important;
}
form{
  margin:0;
  .form-group{
    // display: flex;
    // align-items: is-left;
    // flex-direction: row;
    width: 100%;
    // margin: 15%;
    // @extend .form-control;
    padding: 10%;
    }
    .form-control
    {
      font-size:1em;
      padding-left: 5%;
      margin: 4% 0%;
      height:60px;
      width: 100%;
      border: 1px solid $five;
      transition: box-shadow 0.1s ease-in-out;
      &:hover{
        box-shadow: 0 0 0 1px rgba(128,0,0,1);
      }
      .input:focus{
        box-shadow: 0 0 0 1px rgba(128,0,0,1);
        outline-width: none;
      }
      textarea{
        height:20vh;
      }
    }
    label{
      margin:0;
      padding:0;
      font-size: 13px;
    }
  // }
}
@media (max-width:800px){
form{
  .form-group{
    margin: 18% 0;
    padding:0;
    .form-control{
    }
  }
}
button{
  width:30%;
}
}

button{
  width: 100%;
  height:  40px;
  background-color: $first;
  color:black;
  font-size: 1.3em;
}
.round_button{
  width: 50px;
  height:  50px;
  color:white;
  font-weight:bold;
}

.login{
  width:300px;
  display: table-cell;
  vertical-align: middle;
  box-shadow:0px 0px 10px 3px rgba(0,0,0,0.1);
  padding: 2%;
}
