
.dayBox{
    width:100px;
    height:100px;
    display:flex;
    flex-direction: column;
}
.labelBox{
  @extend .dayBox;
  margin:auto;
  font-size: 2em;
  text-align: center;
}
.calendar{
  display:flex;
  flex-wrap: wrap;
  width: 700px;
}
.day_tag{
  width:25%;
  text-align: center;
}
.inactive{
  background-color: grey;
}
