
.dayBox{
    width:14%;
    display:flex;
    flex-direction: column;
}
.labelBox{
  @extend .dayBox;
  font-size: 2em;
  text-align: center;
}
.calendar{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}
.day_tag{
  width:25%;
  text-align: center;
}
.inactive{
  background-color: grey;
}
.lesson{
  text-transform: uppercase;
  border:1px solid black;
  border-radius: 5%;
}
