$size-width: 100vw;
$size-height: 65vh;

.carousel-wrapper {
  width: $size-width;
  height: $size-height;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  // border-radius: 20px;
  // margin: 100px auto 20px;
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}
