$size-width: 100vw;
$size-height: 65vh;
.carousel_button{
  width: 30%;
  height:  40px;
  background-color: rgba(215,215,0) !important;
  color:white !important;
  font-size: 0.5em !important;
  border-radius: 8px;
}
.carousel-wrapper {
  width: $size-width;
  height: $size-height;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  // box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  // border-radius: 20px;
  margin-top:8vh;
}
@media (max-width:800px){
  .carousel-wrapper{margin-top:0px;}
  .carousel_button{
    font-size: 0.4em !important;
  }
  .carousel_counter{
    right:20%;
  }
}
.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
  display:flex;
  vertical-align: middle;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
  vertical-align: middle;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel_counter{
  position: relative;
  bottom: -80%;
  right:10%;
  color:white;
  font-size:0.8em
}
// .carousel__navigation {
//   position: relative;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   text-align: center;
// }
//
// .carousel__navigation-list,
// .carousel__navigation-item {
//   display: inline-block;
// }
//
// .carousel__navigation-button {
//   display: inline-block;
//   width: 1.5rem;
//   height: 1.5rem;
//   background-color: #333;
//   background-clip: content-box;
//   border: 0.25rem solid transparent;
//   border-radius: 50%;
//   font-size: 0;
//   transition: transform 0.1s;
// }
