$size-width: 100vw;
$size-height: 65vh;
.carousel_button{
  width: 10%;
  height:  40px;
  background-color: rgba(238,188,33,1) !important;
  color:white !important;
  font-size: 0.5em !important;
  border-radius: 4px;
}
.carousel-wrapper {
  width: $size-width;
  height: $size-height;
  // padding-top:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  // box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  // border-radius: 20px;
  // margin-bottom:5%;
}
.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
  display:flex;
  vertical-align: middle;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 6s infinite;
  vertical-align: middle;
  .col{
    height:auto;
  }
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
}
@media (max-width:800px){
  // .carousel-wrapper{margin-top:auto;}
  .carousel_button{
    font-size: 0.4em !important;
    width:30%;
  }
  .carousel-container{
    height:auto !important;
  }
  .carousel_counter{
    bottom:-125% !important;
    font-size: 0.3em !important;
  }
  .carousel-wrapper{
    height:35vh;
  }
}
@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel_counter{
  position: relative;
  bottom: -80%;
  right:10%;
  color:white;
  font-size:0.8em
}
//POPUP css
.pop {
  // position: absolute;
  // width: 50%;
  // margin: auto;
  padding: 20px;
  height: 50%;
  width:fit-content;
  margin:0;
  padding:0;
}
@media (max-width: 640px) {
  .pop {
    position: relative;
    width: 100%;
  }
}
.pop .modal {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
.pop .modal__inner {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
  top: 50%;
  left: 50%;
  width: 50%;
  background: white;
  padding: 30px;
  position: absolute;
  color: black;
  overflow-y: scroll;
  max-height:65vh;
  height: fit-content;
  text-align: left;
}
.modal__inner{
  height:80vh;

}
@media (max-width: 640px) {
  .pop .modal__inner {
    width: 100%;
  }
  .pop .btn{
    bottom: auto;
    top:0px;
    // bottom: 0px;
    left:0px;
    height:auto;
  }
}
.btn-close{
    color: #fff;
    text-align: center;
}

.pop label,.pop .btn {
  // display: inline-block;
  cursor: pointer;
}
.pop label.open {
  color: turquoise;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  text-decoration: underline;
}
.pop label.open:hover {
  color: paleturquoise;
}
.pop input {
  display: none;
}
.pop input:checked + .modal {
  opacity: 1;
  visibility: visible;
}
.pop input:checked + .modal .modal__inner {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.pop input:checked + .modal .modal__inner p {
  // font-size: 1.25rem;
  line-height: 125%;
}
.pop input:checked + .modal label {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background: #666666;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.pop input:checked + .modal label:hover {
  background: #333333;
}
.pop input:checked + .modal .btn {
  position: relative;
  bottom: 0;
  right: 0;
  width:100%;
  background: #666666;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
