@import 'colors';
@import 'unique';
@import 'fonts';
@import 'forms';
@import 'variables';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



body{
  margin: 0;
  padding: 0;
  line-height: 2;
  scroll-behavior: smooth
}
.feedback{
  border: 1px solid $second;
}
.react-calendar__navigation{
  color:black;
  background: white;
  button{
    display:inline-block;
    border:none;
    abbr{
      color:black
    }
  }
  .react-calendar__tile--now{
    background-color: $second;
  }
  .react-calendar__tile{
  }
}
.msg{
  height:30px;
  border-radius:50px;
  border:none !important;
  background: rgba(0,255,0,0.2);
  text-align:center;
  &:hover{
    box-shadow: none !important;
  }
  .input{
    pointer-events:none;
  }
}
.bad{
  background: rgba(204,51,0,0.2);
}
h1, h2, h3{
  letter-spacing: 0.2em;
  font-weight:10px;
  line-height:1;
  text-align: center;
}
.material-icons{
  font-size:100px;
}
.map-marker{
  position: absolute;
  width: 100px;
  height: 100px;
  left: (-100/2)*1px;
  top:(-91)*1px;
  text-align: center;
  // border: 1px solid red;
  color:black;
}
.container{
  height: $max-height;
  width: $max-width;
  //background-color: white;

  display: inline-flex;
}
.master-row{
  padding-top:5%;
  margin:0;
  width:100%;
  display: flex;
  flex-direction: column;
  // border: 1px solid yellow;
}
.border{
    border: 1px solid black;
}
.row{
  margin: 0;
  width: 100%;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width:800px){
  .master-row{
    padding-top:10%;
  }
  .row{
    flex-wrap:wrap;
  }
  .col{
    flex-direction:column;
    margin:0;
    padding:0;
    vertical-align:middle;
  }
  .slim{
    width:100%;
  }
}
.slim{
  @extend .col;
  width:100%;
  line-height: 3;
  align-items: center;
  vertical-align: top;
}
.center{
  text-align: center;
}
.mid{
  background-color: #F1EDED;
  color: #595959;
}
.dark{
  background-color: #BC9797;
  color: white;
}
.darker{
  background-color: #595959;
  color: white;
}
.avatar{
  height: 200px;
  width:200px;
  border-radius: 200px;
  margin: 5%;
}
.subtitle{
  font-size:20px;
  color:white;
  height: 100%;
  // border: 1px solid $first;
  padding: 3%;
  margin:10% 0 10% 0;
  background: black;
}
.col{
  padding: $unit;
  margin: $unit;
  width: 96%;
  // border: 1px solid blue;

  display: flex;
  align-items: center;
  flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}
.nav-filler{
  position: absolute;
  top: 0;
  height:8vh;
  width:100%;
}
.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    width: 30%;
    z-index: 10;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

// @media screen and (max-width: 1024px) {
//     .nav-links {
//         width: 60%;
//     }
// }

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .profile_display{
      font-size: 12px;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.sidebar{

  height: 100%;
  width: 12%;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: $five;

  a{
    margin: 0;
    padding: 2%;
    text-decoration: none;
    color: white;
    width: 96%;
    height: 50px;

    display: block;
    text-align: center;
    line-height: 50px;

    transition: background 0.1s ease-in-out, padding-left 0.1s ease-in-out, width 0.1s ease-in-out;
    &:hover{
      background-color: $first;
      padding-left:10%;
      width: 86%;
    }
  }
}

table {
  display:block;
  height:80%;
	width:80%;
	border:1px solid grey;
}
.cell_highlight{
  background:$first;
  display:flex;
  width:100%;
  color:white;
  text-align: center;
  padding:0;
}
tr{
	display:flex;
	width:100%;
	padding:$unit 0;

	&:nth-of-type(odd) {
		background:lighten($third,40%);
	}
}
td, th {
	flex: 1 1 20%;
	text-align:center;
}
