@import 'colors';
@import 'unique';
@import 'fonts';
@import 'forms';
@import 'carousel';
@import 'variables';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'product_display';

body{
  margin: 0;
  padding: 0;
  line-height: 2;
  scroll-behavior: smooth
}
button{
  font-size: 19px;
  cursor: pointer;
}
.emphasize{
    font-size: 7em;
}

select{
  padding: 2%;
  margin: 3%;
}
.cta{
  width:30%;
}
.indent{
  margin-left:20px;
}
.qr_viewfinder{
  position: relative;
  top:-100vh;
  left:200px;
  width:250px;
  height:250px;
  border: 1px solid yellow;
  z-index:100;
  margin:auto;
}
.photo{
  height:200px;
  width:300px;
  border-radius: 5px;
  margin: 5%;
}
.feedback{
  border: 1px solid $second;
}
.w20{
  width:20% !important;
  height: fit-content;
}
.w80{
  width:80% !important;
}
.editor{
  border: 1px solid black;
  min-height: 6em;
  cursor: text;

}
.preview{
  text-align: center;
}
.normal{
  list-style-type:circle;
  overflow: auto;
  li{
    float: left !important;
  }
}
.mini_overlay{
  height: 100%;
  width:100%;
  background-color: rgba(233,188,33,0.7);
}
.blog_thumbnail{
  display:flex;
  width:100%;
  height: 30vh;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  .overlay{
    height:65vh;
    display: flex;
    vertical-align: middle;
  }
}
.blog{
  .row{
    margin-top: 10%;
  }
}
.react-calendar__navigation{
  color:black !important;
  background: white;
  button{
    display:inline-block;
    border:none;
    color:black !important;
  }
  .react-calendar__tile--now{
    background-color: blue !important;
  }
  .react-calendar__tile{
    color:black;
  }
}
.react-datetime-picker{
  display:inline;
  width:100%;
  .react-datetime-picker__inputGroup{
    width:60%;
  }
  .react-datetime-picker__clear-button,.react-datetime-picker__calendar-button{
    width:20%;
  }
}
.accordion_item{
  border: 1px solid #d3d3d3;
  padding: 5% 2% 2% 2%;
}
.accordion-content{
  text-align: center;
}

.msg{
  height:30px;
  padding: 3% 2%;
  margin-bottom: 2%;
  border-radius:5px;
  border:none !important;
  background: rgba(0,255,0,0.2);
  text-align:center;
  &:hover{
    box-shadow: none !important;
  }
  .input{
    pointer-events:none;
  }
}
.bad{
  background: rgba(204,51,0,0.2);
}
h1, h2, h3{
  letter-spacing: 0.2em;
  font-weight:10px;
  line-height:1;
  text-align: center;
}
.material-icons{
  font-size:45px;
}
.map-marker{
  position: absolute;
  width: 100px;
  height: 100px;
  left: (-100/2)*1px;
  top:(-91)*1px;
  text-align: center;
  // border: 1px solid red;
  color:black;
}
.container{
  height: $max-height;
  width: $max-width;
  //background-color: white;

  display: inline-flex;
}
.master-row{
  padding-top:5%;
  margin:0;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.border{
    border: 1px solid black;
}
.row{
  margin: 0;
  width: 100%;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.up_row{
  margin: 0;
  width: 100%;
  // align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.fixed-row{
  @extend .row
}
svg{
  margin: 10% 20%;
}
.review{
  font-size: 14px;
}
.ratings{
  font-size:18px !important;
  padding-bottom: 7%;
  color: #eebc21;
}
@media (max-width:800px){
  .emphasize{
      font-size: 3.5em;
  }
  .blog_thumbnail{
    height:20vh;
    .overlay{
      height:35vh !important;
    }
  }
  .cta{
    width:50%;
  }
  .preview{
    font-size: 0.5em;
  }
  .ratings{
    font-size: 10px;
    color: '#eebc21'
  }

  .photo{
    height:100px;
    width:150px;
  }
  .w20{
    width:85% !important;
    margin:5%;
    padding:5%;
  }
  .w80{
    width:85% !important;
  }
  .master-row{
    padding-top:10%;
  }

  .fixed-row{
    flex-wrap: nowrap !important;
    flex-direction:row !important;

  }
  .row, .up_row{
    flex-wrap:wrap;
    flex-direction:column;

  }
  .col{
    flex-direction:column;
    margin:0;
    padding:0;
    vertical-align:middle;
  }
  .slim{
    width:100%;
    padding: 0 10%;
  }
  .nav-links{
    padding-top:5%;
  }
}
.slim{
  @extend .col;
  width:65%;
  line-height: 3;
  align-items: center;
  vertical-align: top;
}
.center{
  text-align: center;
}
.mid{
  background-color: #F1EDED;
  color: #595959;
}
.dark{
  background-color: #BC9797;
  color: white;
}
.darker{
  background-color: #595959;
  color: white;
}
.avatar{
  height: 200px;
  width:200px;
  border-radius: 200px;
  margin: 5%;
}
.subtitle{
  font-size:20px;
  color:white;
  height: fit-content;
  // border: 1px solid $first;
  padding: 3%;
  margin:10% 0 10% 0;
  background: black;
}
.nav-logo{
  height:70px;
  width:70px;
}
.tiny-logo{
  height: 35px;
  width:35px;
}
.col{
  padding: $unit;
  margin: $unit;
  width: 96%;
  // border: 1px solid blue
  display: flex;
  align-items: center;
  flex-direction: column;
}
// .col_up{
//   @extend .col;
//   vertical-align: top;
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}
.nav-filler{
  // position: absolute;
  top: 0;
  height:16vh;
  width:100%;
}
.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    z-index: 10;
}
.clickable{
  cursor: pointer;
}

.nav-links li {
    padding: 0 2%;
    list-style: none;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

// @media screen and (max-width: 1024px) {
//     .nav-links {
//         width: 60%;
//     }
// }

@media screen and (max-width: 800px) {
    .material-icons{
      font-size:50px;
    }
    body {
        overflow-x: hidden;
    }
    .profile_display{
      font-size: 12px;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.sidebar{

  height: 100%;
  width: 12%;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: $five;

  a{
    margin: 0;
    padding: 2%;
    text-decoration: none;
    color: white;
    width: 96%;
    height: 50px;

    display: block;
    text-align: center;
    line-height: 50px;

    transition: background 0.1s ease-in-out, padding-left 0.1s ease-in-out, width 0.1s ease-in-out;
    &:hover{
      background-color: $first;
      padding-left:10%;
      width: 86%;
    }
  }
}

table {
  display:block;
  height:80%;
	width:80%;
	border:1px solid grey;
}
.cell_highlight{
  background:$first;
  display:flex;
  width:100%;
  color:white;
  text-align: center;
  padding:0;
}
tr{
	display:flex;
	width:100%;
	padding:$unit 0;

	&:nth-of-type(odd) {
		background:lighten($third,40%);
	}
}
td, th {
	flex: 1 1 20%;
	text-align:center;
}
//circular progress background
$size:70px;
.circle-wrap {
  // margin: $size auto;
  width: $size;
  height: $size;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: $size;
  height: $size;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, $size, $size, $size/2);
}

.circle-wrap .inside-circle {
  width: $size*0.81;
  height: $size*0.81;
  border-radius: 50%;
  background: white;
  line-height: $size*0.8;
  text-align: center;
  margin-top: $size*0.1;
  margin-left: $size*0.1;
  color: #00ff00;
  position: absolute;
  font-weight: 700;
  // font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, $size/2, $size, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  // transform: rotate(135deg);
}

// @keyframes fill{
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(135deg);
//   }
// }
