#price {
  text-align: center;
  margin-bottom: 5%;
}

.plan {
  display: inline-flex;
  margin: 10px 1%;
  font-family: 'Lato', Arial, sans-serif;
  width:30%;
}
.progress-container {
  height: 0.8rem;
  // width: 32rem;
  width:100%;
  border-radius: 0.4rem;

  background: #D9D9D6;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;

  background: #00ff00;

  transition: width 0.4s ease;
}
@media (max-width:800px){
    .plan{
      width:90%;
    }
    .plan-inner {
      border:1px solid #D3D3D3;
      min-height: 75vh;
      margin-bottom:10%;
    }
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
  height: fit-content;
  min-height: 85vh;
}

.entry-title {
  background: #53CFE9;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title>h3 {
  background: #20BADA;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #20BADA;
  height: 125px;
  width: 125px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  width:100%;
  font-size: 15px;
  bottom: -10px;
  // left: 0px;
  font-weight: 400;
}
.price{
  padding-top: 10px;
  span{
    left:0px;
  }
}

.entry-content {
  color: #323232;
  margin: auto;
  width:90%;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
  background: #323232;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  width:100%;
  cursor: pointer;
}
.relative-btn{
  @extend .btn;
  position: relative;
}
.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    width:90px;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}
.basic .entry-title {
  background: #75DDD9;
}

.basic .entry-title > h3 {
  background: #44CBC6;
}

.basic .price {
  background: #44CBC6;
}

.standard .entry-title {
  background: #4484c1;
}

.standard .entry-title > h3 {
  background: #3772aa;
}

.standard .price {
  background: #3772aa;
}

.ultimite .entry-title > h3 {
  background: #DD4B5E;
}

.ultimite .entry-title {
  background: #F75C70;
}

.ultimite .price {
  background: #DD4B5E;
}
