
//scrollable sales table with frozen columns
.scrollable {
  overflow: scroll;
  width:100vw;
}

.comparison{
  color:black;
  tr{
    height:50px;
    padding:0;
  }
  td,th{
    padding:2%;
    min-width: 150px;
    display:flex;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  tr td:first-child,
  tr td:nth-child(2),
  tr th:first-child,
  tr th:nth-child(2),{
    position: sticky;
    left: 0;
    border-right: 1px solid black;
    background: white;
  }
  tr td:nth-child(2),
  tr th:nth-child(2),{
    left: 150px;
  }
}
//price caluation Table
table.price_display{
  font-size: 1em;
}
// //generic table
table {
  display:block;
  height:80%;
	width:80%;
  thead tr:first-child{
    position: sticky;
    background-color: lightblue;
    color:white;

  }
}
.cell_highlight{
  background:lightgrey;
  display:flex;
  width:100%;
  color:white;
  text-align: center;
  padding:0;
}
tr{
	width:100%;
	padding:2% 0;
  display:flex;
	&:nth-of-type(odd) {
		background:lighten(lightgrey,13%);
	}
}
td, th {
	flex: 1 1 20%;
	text-align:center;
}

//profile chip
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
