.scrollable {
  overflow-x: auto;
}

.comparison{
  tr>th:first-child,tr>td:first-child {
    position: sticky;
    left: 0;
  }

  tr:nth-child(odd) td {
     background: $white;
  }

  tr:nth-child(even) td {
     background: $gray-200;
  }
}

table {
  display:block;
  height:80%;
	width:80%;
	border:1px solid grey;
}
.cell_highlight{
  background:$first;
  display:flex;
  width:100%;
  color:white;
  text-align: center;
  padding:0;
}
tr{
	display:flex;
	width:100%;
	padding:$unit 0;

	&:nth-of-type(odd) {
		background:lighten($third,40%);
	}
}
td, th {
	flex: 1 1 20%;
	text-align:center;
}
